.container {
    text-align: center;
    align-content: center;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    text-decoration: none;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s
}

header {
    padding-top: 0px;
    margin: 0px;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-bottom: 0px;
    margin-top: 0%;
}

h4 {
    font-size: 16px;
}

body {
    padding: 0;
    padding-bottom: 0px;
    /* Height of the footer */
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 13.5px;
    color: black;
    background: url("../images/fondo.jpg");
    background-repeat: no-repeat;
}


/* Inicio de footer */

footer {
    position: absolute;
    top: 50px;
    padding: 0;
    padding-bottom: 0px;
    margin-top: 0%;
    width: 100%;
    height: 0px;
}

footer .text-copyright {
    font-size: 1.2rem;
    margin: auto;
    color: #676767;
}

footer .fo-item {
    list-style: none;
    position: relative;
}


#contact-title {
    margin-right: 95%;
}

#fo-list ul,
li {
    list-style: none;
    margin-right: 70%;
}

#fo-ul {
    margin-top: -2.2%;
}

#fo-ul li > a{
    color: #23b9b8;
}

#fo-ul a:hover{
    text-decoration: none;
}


/* End footer*/


/* Navbar*/

#dropdown-nav {
    margin-left: -90%;
    /*display: none;*/
}

.account{
    display: none;
}

.nav-account {
    display: none;
}

.nav-reservate {
    display: none;
}

.nav-calendar {
    display: none;
}

.nav-history {
    display: none;
}

.nav-contact {
    display: inline-block;
}

.nav-services {
    display: inline-block;
}


/*Navbar end */


/* HEADER END*/


/* Forms */

.form-login {
    text-align: left !important;
    margin-top: -14%
}

.form {
    text-align: center;
    margin-left: 30%;
}

.form-group {
    margin-left: 20px;
}

.clearfix {
    margin-left: 4%;
}

#confirm-btns {
    margin-top: -15%;
    margin-right: 25%
}

#services-img {
    margin-top: -20%;
}

#reservation-img {
    margin-top: 8%
}

#login-img {
    margin-top: 8%
}

#reservation-forms {
    margin-top: -18.5%
}

#fields-error {
    display: none;
}



/* Forms end */


/* ALERTS */

#login-pass {
    display: none;
}

#login-sucess {
    display: none;
}

#login-error {
    display: none;
}

#login-email {
    display: none;
}

#person-id {
    display: none;
}

#person-sucess {
    display: none;
}

#person-error {
    display: none;
}

#person-email {
    display: none;
}

#person-username {
    display: none;
}

#patients-error {
    display: none;
}

#patients-id {
    display: none;
}

#fields-id {
    display: none;
}

/* alerts ends*/


/* Buttons */

.dropdown-toggle{
    color: #fff;
    background-color: #23b9b8;
    border-color: #23b9b8;
}

.btn-outline-primary {
    background-color: white;
    border-color: #23b9b8;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    color: #23b9b8;
    transition: all .5s outline: none;
}

.btn-outline-primary:hover {
    color: white;
    background-color: #23b9b8;
    border-color: black;
    outline: none;
}


/* Buttons ends */


/* Patients Style */

#email-patient-div {
    display: none;
}

#name-patient-div {
    display: none;
}

#gen-patient-div {
    display: none;
}

#age-patient-div {
    display: none;
}

#cel-patient-div {
    display: none;
}

#lastname-patient-div {
    display: none;
}

/* End of patients */

#unlisted-services {
    color: #23b9b8;
}

.modal-row {
    text-align: left;
    font-size: 0.7rem
}

/* Extra small devices (portrait phones, less than 576px)
// No media query for `xs` since this is the default in Bootstrap

// Small devices (landscape phones, 576px and up)*/

@media (min-width: 576px) {
    ...
}


/*// Medium devices (tablets, 768px and up)*/

@media (min-width: 768px) {
    ...
}


/*// Large devices (desktops, 992px and up)*/

@media (min-width: 992px) {
    ...
}


/*// Extra large devices (large desktops, 1200px and up)*/

@media (min-width: 1200px) {
    ...
}